* {
	padding: 0px;
	margin: 0px;
	border: none;
	list-style-type: none;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	background-color: transparent;
	box-sizing: border-box;
}
